@font-face{

	font-family: f1;
	src:url(fonts/TitilliumWeb-Regular.ttf);
}

footer {
	width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.copyright{
<<<<<<< HEAD
  position: relative;
=======
    position: relative;
>>>>>>> 0eb9115d56c96e5549795fa631488dd9252f886b
	height: 60px;
	background: rgb(41, 54, 70);
	z-index:1;

}

.footer-copy{
   font-family:f1;
   padding-top: 20px;
   text-align: center;
   text-transform: uppercase;
   color:#FFF;

}

