/* default attributes */

*{
    margin:0;
    padding:0; 
    border:0;
 }

@font-face{
	font-family: font1;
	src:url(fonts/TitilliumWeb-Regular.ttf);
}

@font-face{
	font-family: font2;
	src:url(fonts/TitilliumWeb-ExtraLight.ttf);
}

section{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
		background: #A1DBB6;
      }


	  #home{
			padding-top: 100px;
		}

	  #introduction{
			padding-top: 100px;
		}

		/* Banner - Engenharia de Software */
		#banner-wrapper {
			padding: 2em 0 2em 0;
			width: 100%;
		    margin-left: 0;
		    margin-right: 0;
		}

		#banner-wrapper {
			position: relative;
			overflow: hidden;
			background: #fff;
			color: #fff;
			text-align: center;
			border-top: solid 2px #e5e5e5;
			border-bottom: solid 2px #e5e5e5;
			box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5, inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
		}

		#banner-wrapper p {
			text-align: center;
		}

		#emphasis{
				padding-top: 80px;
				width: 100%;
	  			height: 70%;
		}
		
		#projects{
			padding-top: 80px;
			padding-bottom: 100px;
			width: 100%;
	  		height: 550px;
		}

		#faculty{
			padding-top: 80px;
			width: 100%;
	  		height: 70%;
		}
}
		
.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 110px auto 0 auto;
	font-family: 'Bree Serif';
	padding: 10px;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.rw-sentence span{
	color: #444;
	white-space: nowrap;
	font-size: 200%;
	font-weight: normal;
}

.rw-words{
	display: inline;
	text-indent: 10px;
}

.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: #6b969d;
}

.rw-words-1 span{
	animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words-2 span{
	animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
	animation-delay: 4s; 
	color: #6b889d;
}
.rw-words span:nth-child(3) { 
	animation-delay: 8s; 
	color: #6b739d;	
}
.rw-words span:nth-child(4) { 
	animation-delay: 12s; 
	color: #7a6b9d;
}
.rw-words span:nth-child(5) { 
	animation-delay: 16s; 
	color: #8d6b9d;
}
.rw-words span:nth-child(6) {  
	animation-delay: 20s; 
	color: #9b6b9d;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

/*----start-services----*/
.services-grid{
	float: left;
	width: 40%;
	margin-left: 3%;
	margin-right: 3%;
	background: #fff;
	padding: 1em;
	margin-bottom: 3%;
}
.services-grid:nth-child(2),.services-grid:nth-child(4){
	margin-right:0;
}
.services-grid-left{
	float: left;
	width: 15%;
	text-align: center;
}
.services-grid-left span{
	width:64px;
	height:64px;
	display:inline-block;
}
.services-grid-left span.s-icon1{
	background:url(../images/services-icons.png) no-repeat 0px 0px;
}
.services-grid-left span.s-icon2{
	background: url(../images/services-icons.png) no-repeat -66px 0px;
}
.services-grid-left span.s-icon3{
	background: url(../images/services-icons.png) no-repeat -131px 0px;
}
.services-grid-left span.s-icon4{
	background: url(../images/services-icons.png) no-repeat -197px 0px;
}
.services-grid-right{
	float:right;
	width: 80%;
}
.services-grid-right h4{
	font-size: 1.5em;
	color: #3D3E41;
	font-weight: 700;
	padding: 0 0 0.5em 0;
	text-transform: uppercase;
}
.services-grid-right p{
	font-size: 0.875em;
	color: #3D3E41;
	line-height: 1.7em;
	text-align: justify;
} 
.services-grids{
	padding:2em 0;
}
.services{
	position:relative;
}

.introduction
{
	background: #FBFBFB;
	padding: 1.4em 1.5em;
	vertical-align: middle;
	text-align: justify;

}
/*----*/