/* default attributes */

*{
    margin:0;
    padding:0; 
    border:0;
 }

@font-face{
	font-family: font1;
	src:url(fonts/TitilliumWeb-Regular.ttf);
}

@font-face{
	font-family: font2;
	src:url(fonts/TitilliumWeb-ExtraLight.ttf);
}

<<<<<<< HEAD
/*No momente este header nao muda nada no code*/
=======
>>>>>>> 0eb9115d56c96e5549795fa631488dd9252f886b
header {
      	font-family: f2;
        position: fixed;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        background: #696969;
        z-index: 2;
      }

section{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
<<<<<<< HEAD
        background-color: #7FFFD4;
      }




=======
        background-color: #336666;
      }
>>>>>>> 0eb9115d56c96e5549795fa631488dd9252f886b
